[Desktop Entry]
Name=GooseMED
Exec=/usr/lib/GooseMED/GooseMED %U
Icon=/usr/share/pixmaps/GooseMED.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goosemed;
