[Desktop Entry]
Name=GooseMED
Exec=/usr/lib/goosemed/GooseMED %U
Icon=/usr/share/pixmaps/goosemed.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goosemed;
